@tailwind base;
@tailwind components;
@tailwind utilities;

.responsive-img {
    max-width: 14rem;
    min-width: 10rem;
    width: 20vw;
}

.responsive-input {
    width: clamp(14rem, calc(20vw + 10rem), 50%);
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

input[type="range"][orient="vertical"] {
    writing-mode: vertical-lr;
    direction: rtl;
    width: 8px;
    vertical-align: bottom;
}

.colored_library {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/library.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/library.svg) no-repeat center / contain;
}

a:hover .colored_library {
    background-color: theme('colors.primary-content');
    mask: url(../../public/img/library.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/library.svg) no-repeat center / contain;
}

.colored_albums {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/albums.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/albums.svg) no-repeat center / contain;
}

a:hover .colored_albums {
    background-color: theme('colors.primary-content');
    mask: url(../../public/img/albums.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/albums.svg) no-repeat center / contain;
}

.colored_artists {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/artists.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/artists.svg) no-repeat center / contain;
}

a:hover .colored_artists {
    background-color: theme('colors.primary-content');
    mask: url(../../public/img/artists.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/artists.svg) no-repeat center / contain;
}

.colored_audiobooks {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/audiobooks.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/audiobooks.svg) no-repeat center / contain;
}

a:hover .colored_audiobooks {
    background-color: theme('colors.primary-content');
    mask: url(../../public/img/audiobooks.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/audiobooks.svg) no-repeat center / contain;
}

.colored_folders {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/folders.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/folders.svg) no-repeat center / contain;
}

a:hover .colored_folders {
    background-color: theme('colors.primary-content');
    mask: url(../../public/img/folders.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/folders.svg) no-repeat center / contain;
}

.colored_podcasts {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/podcasts.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/podcasts.svg) no-repeat center / contain;
}

a:hover .colored_podcasts {
    background-color: theme('colors.primary-content');
    mask: url(../../public/img/podcasts.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/podcasts.svg) no-repeat center / contain;
}

.colored_saved {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/saved.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/saved.svg) no-repeat center / contain;
}

a:hover .colored_saved {
    background-color: theme('colors.primary-content');
    mask: url(../../public/img/saved.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/saved.svg) no-repeat center / contain;
}

.colored_search {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/search.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/search.svg) no-repeat center / contain;
}

a:hover .colored_search {
    background-color: theme('colors.primary');
    mask: url(../../public/img/search.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/search.svg) no-repeat center / contain;
}

.colored_home {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/home.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/home.svg) no-repeat center / contain;
}

a:hover .colored_home {
    background-color: theme('colors.primary');
    mask: url(../../public/img/home.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/home.svg) no-repeat center / contain;
}

.colored_discover {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/discover.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/discover.svg) no-repeat center / contain;
}

a:hover .colored_discover {
    background-color: theme('colors.primary');
    mask: url(../../public/img/discover.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/discover.svg) no-repeat center / contain;
}

.colored_settings {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/settings.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/settings.svg) no-repeat center / contain;
}

a:hover .colored_settings {
    background-color: theme('colors.primary');
    mask: url(../../public/img/settings.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/settings.svg) no-repeat center / contain;
}

.colored_friends {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/friends.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/friends.svg) no-repeat center / contain;
}

.colored_friends:hover {
    background-color: theme('colors.primary');
    mask: url(../../public/img/friends.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/friends.svg) no-repeat center / contain;
}

.colored_notifications {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/notifications.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/notifications.svg) no-repeat center / contain;
}

.colored_notifications:hover {
    background-color: theme('colors.primary');
    mask: url(../../public/img/notifications.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/notifications.svg) no-repeat center / contain;
}

.colored_play {
    background-color: theme('colors.primary-content'); /* defines the background color of the image */
    mask: url(../../public/img/play.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/play.svg) no-repeat center / contain;
}

.colored_pause {
    background-color: theme('colors.primary-content'); /* defines the background color of the image */
    mask: url(../../public/img/pause.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/pause.svg) no-repeat center / contain;
}

.colored_step_back {
    background-color: theme('colors.base-100'); /* defines the background color of the image */
    mask: url(../../public/img/step_back.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/step_back.svg) no-repeat center / contain;
}

.colored_step_back:hover {
    background-color: theme('colors.neutral-content');
    mask: url(../../public/img/step_back.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/step_back.svg) no-repeat center / contain;
}

.colored_step_forward {
    background-color: theme('colors.base-100'); /* defines the background color of the image */
    mask: url(../../public/img/step_forward.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/step_forward.svg) no-repeat center / contain;
}

.colored_step_forward:hover {
    background-color: theme('colors.neutral-content');
    mask: url(../../public/img/step_forward.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/step_forward.svg) no-repeat center / contain;
}

.colored_shuffle {
    background-color: theme('colors.base-100'); /* defines the background color of the image */
    mask: url(../../public/img/shuffle.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/shuffle.svg) no-repeat center / contain;
}

.colored_shuffle_activated {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/shuffle.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/shuffle.svg) no-repeat center / contain;
}

.colored_shuffle:hover {
    background-color: theme('colors.neutral-content');
    mask: url(../../public/img/shuffle.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/shuffle.svg) no-repeat center / contain;
}

.colored_loop {
    background-color: theme('colors.base-100'); /* defines the background color of the image */
    mask: url(../../public/img/loop.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/loop.svg) no-repeat center / contain;
}

.colored_loop_activated {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/loop.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/loop.svg) no-repeat center / contain;
}

.colored_loop:hover {
    background-color: theme('colors.neutral-content');
    mask: url(../../public/img/loop.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/loop.svg) no-repeat center / contain;
}

.colored_heart {
    background-color: theme('colors.base-100'); /* defines the background color of the image */
    mask: url(../../public/img/heart.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/heart.svg) no-repeat center / contain;
}

.colored_heart_activated {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/heart.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/heart.svg) no-repeat center / contain;
}

.colored_heart:hover {
    background-color: theme('colors.neutral-content');
    mask: url(../../public/img/heart.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/heart.svg) no-repeat center / contain;
}

.colored_queue {
    background-color: theme('colors.base-100'); /* defines the background color of the image */
    mask: url(../../public/img/queue.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/queue.svg) no-repeat center / contain;
}

.colored_queue_activated {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/queue.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/queue.svg) no-repeat center / contain;
}

.colored_queue:hover {
    background-color: theme('colors.neutral-content');
    mask: url(../../public/img/queue.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/queue.svg) no-repeat center / contain;
}

.colored_more {
    background-color: theme('colors.base-100'); /* defines the background color of the image */
    mask: url(../../public/img/more.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/more.svg) no-repeat center / contain;
}

.colored_more_activated {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/more.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/more.svg) no-repeat center / contain;
}

.colored_more:hover {
    background-color: theme('colors.neutral-content');
    mask: url(../../public/img/more.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/more.svg) no-repeat center / contain;
}

.colored_volume {
    background-color: theme('colors.base-100'); /* defines the background color of the image */
    mask: url(../../public/img/volume.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/volume.svg) no-repeat center / contain;
}

.colored_volume_activated {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/volume.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/volume.svg) no-repeat center / contain;
}

.colored_volume:hover {
    background-color: theme('colors.neutral-content');
    mask: url(../../public/img/volume.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/volume.svg) no-repeat center / contain;
}

.colored_mute {
    background-color: theme('colors.base-100'); /* defines the background color of the image */
    mask: url(../../public/img/mute.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/mute.svg) no-repeat center / contain;
}

.colored_mute_activated {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/mute.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/mute.svg) no-repeat center / contain;
}

.colored_mute:hover {
    background-color: theme('colors.neutral-content');
    mask: url(../../public/img/mute.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/mute.svg) no-repeat center / contain;
}

.colored_devices {
    background-color: theme('colors.base-100'); /* defines the background color of the image */
    mask: url(../../public/img/devices.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/devices.svg) no-repeat center / contain;
}

.colored_devices_activated {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/devices.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/devices.svg) no-repeat center / contain;
}

.colored_devices:hover {
    background-color: theme('colors.neutral-content');
    mask: url(../../public/img/devices.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/devices.svg) no-repeat center / contain;
}

.colored_add_playlist {
    background-color: theme('colors.base-100'); /* defines the background color of the image */
    mask: url(../../public/img/add_playlist.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/add_playlist.svg) no-repeat center / contain;
}

.colored_add_playlist_activated {
    background-color: theme('colors.neutral-content'); /* defines the background color of the image */
    mask: url(../../public/img/add_playlist.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/add_playlist.svg) no-repeat center / contain;
}

.colored_add_playlist:hover {
    background-color: theme('colors.neutral-content');
    mask: url(../../public/img/add_playlist.svg) no-repeat center / contain;
    -webkit-mask: url(../../public/img/add_playlist.svg) no-repeat center / contain;
}